body {
  margin: 0;
  width: 100%;
  height: 100%;
}
html {
  margin: 0;
  width: 100vw;
  height: 100vh;
}

.base-header {
  position: absolute;
  height: 58px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  width: 96%;
  padding-left: 2%;
  padding-right: 2%;
}

.base-logo {
  font-size: 20px;
  font-weight: 700;
  display: flex;
  align-items: center;
}
.base-left-content {
  font-size: 18px;
  font-weight: 600;
}
.logo-left {
  width: 16px;
  height: 16px;
  background: white;
  border-radius: 45% 0 0 45%;
  margin-right: 4px;
}
.logo-right {
  width: 16px;
  height: 16px;
  background: white;
  border-radius: 45% 45% 0 0;
  margin-right: 4px;
}

.base-bottom {
  color: white;
  position: absolute;
  bottom: 4px;
  right: 4px;
}
